.coststable {
    text-align: center;
    width: 100%;
    margin: 0px auto;
    float: none;
    color: black;
}

.costTableItem{
    /*
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    */
}
.costTableItemContent{
    margin: 2px;
    background-color: white;
    padding-bottom: 0.8em;
    padding-top: 0.4em;
}

.centered {
    text-align: center;
}
.costLabel{
    color: #fe6f5e;
    font-size: 2em;
}
.costHeader{
    font-size: 2em;
    color: #412fd8;
}
.costDiscount{
    font-size: 1.4em;
    color: #fe6f5e;
    padding-bottom: 0.5em;
}

.servicesImage{
    width: 100%;
    height: auto;
}

.orderTableItem{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.orderHeader{
    font-size: 1.7em;
    color: white;
    padding-bottom: 1em;
}

.orderSpacer{
    width: 100%;
    height: 1em;
}
